

# Package Files #
*.class
*.ear
*.snapshot
*.war
.DS_Store
/commands.txt
/master
/rad
/tood
TwirlTestTest/bin
TwirlTestTest/bin/*
Twist/bin
Twist/gen
*.prefs
*.jar

.DS_Store

# ignore those annoying lock files libreoffice/opeoffice creates.
.~*
